<h1 [innerText]="title+employee.employeeName"></h1>

<table class="table table-hover table-striped">
    <tr>
        <th>Employee ID</th>
        <td>{{employee.employeeId}}</td>
    </tr>
    <tr>
        <th>Employee Name</th>
        <td>{{employee.employeeName}}</td>
    </tr>
    <tr>
        <th>Employee Address</th>
        <td>{{employee.address}}</td>
    </tr>
    <tr>
        <th>Employee City</th>
        <td>{{employee.city}}</td>
    </tr>
    <tr>
        <th>Email ID</th>
        <td>{{employee.email}}</td>
    </tr>
    <tr>
        <th>Employee Mobile</th>
        <td>{{employee.phone}}</td>
    </tr>
    <tr>
        <th>Avatar</th>
        <td>
            <img [src]="employee.avatar" [alt]="employee.employeeName" [title]="employee.employeeName">
        </td>
    </tr>
</table>